:root {
  --white: #fff;
  --black: #000;
  --logo--black: #151515;
  --title: #222222;
  --footer--back: #faf6ed;
  --footer-p: #5f5f5f;
  --line: #d3d3d3;
  --select: #4e4e4e;
  --basket: #02b474;
  --body: #fffdf8;
  --sb_bg_col: rgb(42, 63, 84);
  --sb_li_col: rgb(71, 113, 155);
  --fa_user_bg: #dadada;
  --user_col: rgb(255, 255, 129);
  --ad_pan_h_bg: #ededed;
  --column2_bg: #f7f7f7;
  --line: #112130;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background: var(--body);
}

header {
  background: var(--footer--back);
}

.header_container {
  max-width: 1300px;
  height: 11vh;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 120px;
  height: 60px;
}
.logo {
  width: 120px;
  height: 60px;
}

.logo_style {
  font-family: "Clicker Script", cursive;
  font-size: 3rem;
  color: #474747;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.nav_list {
  display: flex;
  gap: 55px;
}

.nav_list li {
  list-style: none;
  position: relative;
}

.nav_list li a {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--logo--black);
}

.nav_list li a::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: -5px;
  height: 2px;
  background: var(--logo--black);
  transition: 0.5s;
}

.nav_list li a:hover::after {
  width: 100%;
}

.nav_list li a:hover {
  color: var(--logo--black);
}

.header_icons_container {
  display: flex;
  align-items: center;
  gap: 19px;
}
.header_icons_container i {
  font-size: 1.8rem;
}

.user_icon {
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
}

.user_modal_hover {
  position: absolute;
  width: 150px;
  background-color: #faf6ed;
  border: 1px solid #777777;
  top: 7vh;
  z-index: 3;
  border-radius: 5px;
  transform: translateX(-50%);
  padding: 10px;
  display: none;
  font-family: "Josefin Sans", sans-serif;
}

.user_modal_hover button {
  width: 120px;
  height: 20px;
  background-color: #ffbaff;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  cursor: pointer;
}
.user_modal_hover button:hover {
  transform: scale(1.05);
  background-color: #ff77ff;
}
.user_container_modals i {
  font-size: 2.1rem;
  cursor: pointer;
}
.user_container_modals:hover .user_modal_hover {
  display: block;
}

.loggedInUser_content,
.loggedInUser_content_name {
  display: flex;
  align-items: center;
  gap: 20;
  cursor: pointer;
  margin-top: 6px;
}
.loggedInUser_content_name span{
  max-width: 200px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.loggedInUser_content i {
  font-size: 1.3rem;
}
.loggedInUser_content span {
  margin-left: 6px;
}

.loggedInUser_content:hover {
  background-color: #bbbbbb;
}
.bag_icon {
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
}

.basket_count {
  position: absolute;
  font-size: 11px;
  text-align: center;
  top: -5px;
  right: -10px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  background-color: #02b474;
  color: var(--black);
}

.social_media_icons {
  display: flex;
  gap: 19px;
}

.social_media_i {
  display: none;
}

.burger_menu {
  display: none;
}

#checkbox {
  display: none;
}

/* .input_icon {
  width: 186px;
  height: 31px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.input_icon input {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  background: none;
  border: none;
  border-bottom: 1px solid #9b9b9b;
  margin-left: 3px;
  outline: none;
  font-size: 1.6rem;
  width: 75%;
  padding-left: 5px;
  padding-right: 5px;
}

.input_icon i {
  color: var(--black);
  font-size: 1.6rem;
  margin-right: 5px;
} */

/* Hero */

.head_slogan {
  height: 89vh;
  font-family: "Allison";
  font-size: 6.6rem;
  font-weight: 400;
  letter-spacing: 0.5em;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.slideStyle {
  height: 89vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}
.slideStyle:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* main section boxes */

.main_header {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.2rem;
  text-align: center;
  color: var(--title);
  font-weight: 400;
  margin: 50px 0 30px;
  text-transform: uppercase;
}

.grid_container {
  max-width: 1172px;
  margin: 68px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(242px, 1fr));
  gap: 44px 68px;
}

.grid_box {
  min-width: 242px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 5px 5px;
  position: relative;
}
.grid_box p,
.grid_box span {
  font-family: "Josefin Sans", sans-serif;
}
.favory_font_h2 {
  max-width: 1260px;
  margin: 25px auto;
  font-family: "Josefin Sans", sans-serif;
}

.grid_box img {
  width: 100%;
}

.grid_box:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--title);
  margin-top: 17px;
  margin-bottom: 8px;
}
.grid_box_content {
  padding: 0 0 5px 8px;
}
.heart_for_favorite {
  background: var(--white);
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  display: none;
}

.del_for_myfavorite {
  background: var(--white);
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  cursor: pointer;
}
.heart_for_favorite i {
  font-size: 2rem;
}
.grid_box:hover .heart_for_favorite {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid_box_favorite {
  max-width: 1172px;
  margin: 68px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 42px;
  cursor: pointer;
}
.when_notmy_favourites {
  margin: 50px 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
}
.grid_box_favorite_cart {
  min-width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  position: relative;
}

.fa-xmark:hover {
  transform: scale(1.5);
}
.grid_box_favorite_cart img {
  width: 100%;
  height: 300px;
}

.price,
.price_discount {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 16px;
  color: var(--title);
  margin-right: 5px;
}

.price_del {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 16px;
  color: #878787;
  margin-right: 5px;
}

.select_size {
  margin: 17px 0;
}

.select_size select {
  width: 100%;
  height: 44px;
  color: var(--select);
  border: 0.5px solid #e2e2e2;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 0 15px;
  outline: none;
}

.basket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  border-radius: 8px;
  padding: 5px 16px 5px 10px;
  background: var(--basket);
  box-shadow: 0px 1px 4px rgba(56, 57, 67, 0.25);
  cursor: pointer;
}

.add_to_card {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  background: none;
  border: none;
  color: var(--white);
  margin-left: 10px;
  cursor: pointer;
}
.heart_add_to_basket {
  display: flex;
  align-items: center;
  gap: 10px;
}
.heart_add_to_basket i {
  font-size: 3rem;
  cursor: pointer;
}

/* My order Items  */
.orderitems_container {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid var(--fa_user_bg);
  /* height: 200px; */
  border-radius: 8px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.orderitems_container_head {
  display: flex;
  background: #fafafa;
  border-radius: 8px 8px 0 0;
}
.orderitems_container_content {
  display: flex;
  gap: 10px;
  min-width: 350px;
  border: 1px solid var(--fa_user_bg);
  padding: 5px;
  border-radius: 8px;
}
.oc_con_img {
  width: 70px;
  height: 105px;
  border-radius: 3px;
}
.oc_con_img img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 1px solid var(--fa_user_bg);
}
.all_h4_soan_p {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 8px;
}
.under_category_p {
  display: flex;
  gap: 5px;
  font-size: 1.3rem;
  color: #878787;
}
.goto_singlepage_gromoritems {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  width: 110px;
  height: 30px;
  border: none;
  font-weight: 500;
  border-radius: 8px;
  background: var(--basket);
  box-shadow: 0px 1px 4px 0px rgba(56, 57, 67, 0.25);
  cursor: pointer;
  margin-top: 6px;
}
.goto_singlepage_gromoritems:hover {
  transform: scale(1.05);
}
.goto_singlepage_gromoritems a {
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  font-size: 1.4rem;
}

.grid_container_orderitmes {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px;
  padding: 50px 10px;
}

/* footer */

footer {
  background-color: var(--footer--back);
  padding-top: 44px;
  padding-bottom: 44px;
}

.aboutUs_information {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  gap: 30px 20px;
}

.flex_wrap {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.aboutUs{
  max-width: 560px;
}

.information {
  width: 300px;
}

.follow_us {
  width: 100px;
}

.information div {
  display: flex;
  align-items: center;
  margin-top: 44px;
}

.social_media {
  display: flex;
  justify-content: center;
  gap: 19px;
}

.aboutUs h4,
.information h4,
.follow_us h4 {
  font-family: "Merriweather";
  text-align: center;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 18px;
  color: var(--title);
  margin-bottom: 36px;
}

.information h4 {
  text-align: left;
}

.aboutUs p {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 30px;
  text-align: justify;
  color: var(--footer-p);
}

.information p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 22px;
  color: var(--footer-p);
  margin-left: 10px;
}

/* Login & Register */

.login_register_container {
  max-width: 400px;
  margin: 95px auto 73px;
  border-radius: 20px;
  box-shadow: 0px 0px 52px 15px rgba(221, 221, 221, 0.2);
}

.login_header,
.register_header {
  font-family: "Merriweather", serif;
  font-size: 3.2rem;
  text-align: center;
  color: var(--title);
  font-weight: 400;
  cursor: pointer;
}

.login_box,
.register_box {
  padding: 20px 30px 50px 30px;
}
.eye_psw {
  display: flex;
  position: relative;
}
.eye_psw i {
  position: absolute;
  top: 40px;
  right: 5px;
  cursor: pointer;
}
.login_box input,
.register_box input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #a3a3a3;
  margin-top: 30px;
}

.error {
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
  color: #f53e6a;
  display: block;
  text-align: center;
  margin-top: 10px;
}

.login_box button,
.register_box button {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 48px;
  border: none;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--white);
  border-radius: 8px;
  background: var(--basket);
  box-shadow: 0px 1px 4px 0px rgba(56, 57, 67, 0.25);
  padding: 5px 13px;
  margin: 30px 0 20px;
}

.go_to_register,
.go_to_login {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link_text {
  color: var(--basket);
  text-decoration-color: var(--basket);
  margin-left: 5px;
}

/* Product */

.p_container {
  max-width: 1300px;
  margin: 80px auto;
  font-family: "Montserrat", sans-serif;
}

.p_box {
  display: flex;
  justify-content: center;
}
.alotof_img_box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 5px;
}
._img_boxs img {
  width: 100%;
  height: 100%;
}
._img_boxs {
  cursor: pointer;
  width: 70px;
  height: 105px;
}
.alotof_img_box {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.p_img {
  width: 242px;
  height: 363px;
}

.p_img img {
  width: 100%;
  height: 100%;
}

.p_content {
  max-width: 330px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 50px;
}

/* .content_text {
  text-align: justify;
} */

.p_content h3 {
  font-size: 2.8rem;
}

.p_content .p_price {
  font-size: 2.4rem;
  color: var(--basket);
  font-weight: 500;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 8px;
}

.p_color,
.p_size {
  display: flex;
  gap: 10px;
  list-style: none;
  margin-top: 8px;
}

.p_color li,
.circle_of_choose {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.p_size li {
  min-width: 48px;
  height: 32px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--black);
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 0 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_to {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  background: none;
  border: none;
  color: var(--white);
}

/* Basket component */

.b_container {
  max-width: 1170px;
  margin: 30px auto 195px;
  padding: 0 16px;
  background: #fffdf8;
}

.b_container h2 {
  font-family: "Merriweather", serif;
  font-size: 3.2rem;
  color: var(--title);
  font-weight: 400;
  margin-bottom: 20px;
}

.basket_box {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--body);
  padding: 30px 0px;
}
.basket_colum_orders {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left_side {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  background: #FFF;
  border-radius: 8px;
}
.left_side img {
  border-radius: 8px 0 0 8px;
}

.b_img {
  width: 130px;
  height: 180px;
}

.b_img img {
  width: 100%;
  height: 100%;
}

.left_side_content {
  font-family: "Lato", sans-serif;
  width: 682px;
  height: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.category {
  font-size: 1.8rem;
  color: var(--title);
  font-weight: 600;
  margin-bottom: 30px;
}

.color_size {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color_size p {
  color: var(--select);
  font-size: 1.4rem;
  font-weight: 600;
  /* display: flex;
    justify-content: space-between; */
}

.color_size span {
  margin-left: 15px;
}

.b_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.b_buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.b_buttons span {
  color: var(--title);
  font-size: 1.6rem;
  font-weight: 500;
}

.b_price {
  color: var(--title);
  font-size: 1.8rem;
  font-weight: 600;
}

.trash {
  cursor: pointer;
}
.trash svg:hover {
  color: rgb(248, 40, 40);
  transform: scale(1.1);
}

.right_side {
  width: 311px;
  padding: 20px 15px;
  border-radius: 7px;
  border: 0.2px solid #d2d2d2;
  background: #fffefd;
  box-shadow: 0px 0px 10px -6px #686868;
}

.right_side_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right_side_content p {
  font-family: "Lato", sans-serif;
  color: var(--select);
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.right_side_content p:nth-child(2) {
  border-bottom: 1px solid var(--line);
  padding-bottom: 15px;
}

.right_side_content button,
.save_userInfo_btn,
.change_user_info_btn {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 44px;
  border: none;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--white);
  border-radius: 8px;
  background: var(--basket);
  box-shadow: 0px 1px 4px 0px rgba(56, 57, 67, 0.25);
  cursor: pointer;
}

/* Contact component */

.contact_container {
  font-family: "Montserrat", sans-serif;
  max-width: 1300px;
  margin: 72px auto 105px;
  padding: 0 20px;
}

.contact_container h1 {
  font-size: 4rem;
  text-align: center;
  color: var(--title);
  margin-bottom: 70px;
}

.contact_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact_left {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.contact_box {
  display: flex;
  min-width: 220px;
  margin-bottom: 50px;
}

.box_icon {
  font-size: 3rem;
  margin-right: 20px;
}

.contact_box:nth-of-type(1) .box_icon {
  color: #c17c0d;
}

.contact_box:nth-of-type(2) .box_icon {
  color: #f53e6a;
}

.contact_box h2 {
  margin-bottom: 25px;
}

.contact_form h2 {
  margin-bottom: 40px;
}

.contact_form input {
  width: 255px;
  height: 45px;
  font-size: 1.6rem;
  border: 1px solid #d1d5d9;
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
}

.contact_flex {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
}

.contact_form textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  width: 100%;
  outline: none;
  resize: none;
  border: 1px solid #d1d5d9;
  border-radius: 4px;
  padding: 8px 16px;
}

.contact_btn {
  display: block;
  margin-left: auto;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  height: 48px;
  border: none;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--white);
  border-radius: 4px;
  background: var(--basket);
  box-shadow: 0px 1px 4px 0px rgba(56, 57, 67, 0.25);
  padding: 5px 30px;
  cursor: pointer;
}

/* Information of User */
.address_payment_container {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}
.head_of_address_paymenth2 {
  font-family: "Josefin Sans", sans-serif;
  max-width: 1260px;
  margin: 30px auto;
}
.name_lastName,
.email_phone {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
}
.user_information input {
  width: 255px;
  height: 45px;
  font-size: 1.6rem;
  border: 1px solid #d1d5d9;
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
}
.user_information textarea {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  width: 100%;
  outline: none;
  resize: none;
  border: 1px solid #d1d5d9;
  border-radius: 4px;
  padding: 8px 16px;
}

.newadress_create {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 540px;
  height: 276px;
  cursor: pointer;
}
.iplus_span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--column2_bg);
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.iplus_span:hover {
  transform: scale(1.05);
}
.iplus_span i {
  font-size: 5rem;
  color: var(--basket);
}
.iplus_span span {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(37, 37, 37);
}

.visit_cart_user {
  font-family: "Josefin Sans", sans-serif;
  padding: 8px 100px 8px 5px;
  border-radius: 8px;
  border: 0.2px solid #d2d2d2;
  background: #fffefd;
  box-shadow: 0px 0px 10px -6px #686868;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.visit_cart_user_inorderitems {
  font-family: "Josefin Sans", sans-serif;
  border-radius: 8px;
  border: 0.2px solid #d2d2d2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 35px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

.visit_cart_user h3,
.visit_cart_user_inorderitems h3 {
  color: var(--footer-p);
  width: 105px;
}

.h3_span_inuser {
  display: flex;
}

/* Payment component */

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(102, 102, 102, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  /* background: linear-gradient(to right, #0d3c61, #02b474); */
}

.payment {
  background: #f8f8f8;
  max-width: 360px;
  height: auto;
  padding: 35px;
  padding-top: 70px;
  border-radius: 5px;
  position: relative;
}

.payment h2 {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: #0d3c61;
}

.form .label {
  display: block;
  color: #555555;
  margin-bottom: 6px;
}

.input {
  padding: 13px 0px 13px 25px;
  width: 100%;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  font-size: 16px;
  color: #555555;
}

.card-grp {
  display: flex;
  justify-content: space-between;
}

.card-item {
  width: 48%;
}

.space {
  margin-bottom: 20px;
}

.icon-relative {
  position: relative;
}

.icon-relative .fas,
.icon-relative .far {
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #555555;
}

.btn {
  margin-top: 40px;
  background: #2d5b99;
  padding: 12px;
  text-align: center;
  color: #f8f8f8;
  border-radius: 5px;
  cursor: pointer;
}

.payment-logo {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 150px;
  z-index: 10;
}

.payment-logo img {
  width: 100%;
}

@media screen and (max-width: 420px) {
  .card-grp {
    flex-direction: column;
  }
  .card-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 20px;
  }
}

.btn-scrollTop {
  border: none;
  width: 50px;
  height: 50px;
  background-color: rgba(221, 110, 197, 0.6);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
  display: none;
}
.btn-scrollTop i {
  font-size: 1.7rem;
}

/* Async button REGISTER */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
/* Async button payment   */
.form_lodarer_wrapper {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader_payment {
  width: 70px;
  height: 70px;
  border: 5px solid #26db9f;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Async Login animation  */
.lds-dual-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  background-color: var(--body);
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #d3a50d;
  border-color: #d3a50d transparent #d3a50d transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Async contact form */
.loader {
  width: 30px;
  height: 30px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Product cart box swiper slider */
/* emine at */

.similar_products_container {
  max-width: 1100px;
  margin: 80px auto 0;
}

.similar_head {
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
  color: var(--title);
  font-weight: 600;
  margin-bottom: 20px;
}

.similar_product_box {
  width: 242px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 5px 0;
}

.similar_product_box p,
.similar_product_box span,
.myorder_empty_array {
  font-family: "Josefin Sans", sans-serif;
}

.similar_product_box img {
  width: 100%;
}

.similar_product_content {
  padding: 0 0 5px 8px;
}

.mySwiper .swiper-button-prev {
  color: var(--select);
  transform: scale(0.8);
  left: 10px;
}

.mySwiper .swiper-button-next {
  color: var(--select);
  transform: scale(0.8);
  right: 10px;
}

/* User Info Modal  */

.info_modal_container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(102, 102, 102, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.info_modal_card {
  font-family: "Montserrat", sans-serif;
  width: 400px;
  border-radius: 6px;
  background: var(--white);
}

.info_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 15px;
  border-bottom: solid 1px #e6e6e6;
}

.info_modal_head {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(255, 44, 44);
}

.info_xmark {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 390px;
}
.info_xmarkx {
  font-size: 2rem;
  cursor: pointer;
}

.info_inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.info_inputs input {
  width: 100%;
  height: 35px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #a3a3a3;
  outline: none;
}

.info_inputs textarea {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 50px;
  resize: none;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #a3a3a3;
  outline: none;
}

.info_inputs button {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 42px;
  border: none;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--white);
  border-radius: 8px;
  background: var(--basket);
  box-shadow: 0px 1px 4px 0px rgba(56, 57, 67, 0.25);
  padding: 5px 13px;
  cursor: pointer;
}
/* Category btn in HOME page */
.category_choise_modal {
  width: 100px;
  height: 30px;
  border: 1px solid #878787;
  box-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  /* margin: 0 auto; */
}
._choise_modal_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 276px;
  padding: 20px;
  position: absolute;
  top: calc(100% + 20px);
  left: calc(50% - 276px / 2);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}

._choise_modal_list::before {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  left: calc(50% - 12px);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
}
._choise_modal_list input {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}
._choise_modal_list label {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
/* Search inp in HOME page */
.search_inp_products {
  width: 150px;
  height: 30px;
  border: 1px solid #878787;
  box-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_inp_products input {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  padding-left: 5px;
  font-family: "Josefin Sans", sans-serif;
}




/* Responsive */


@media screen and (max-width: 1040px) {
  .contact_box {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 960px) {
  .nav_list {
    gap: 30px;
  }
  .header_container .logo {
    width: 100px;
  }
  .nav_list li a {
    font-size: 1.6rem;
  }
  
  /* contact */
  .contact_content {
    flex-direction: column;
  }
  .contact_left {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .contact_form {
    width: 100%;
    margin-top: 50px;
  }
  .contact_flex input {
    width: 100%;
  }
  .contact_flex label {
    width: 100%;
  }
}

@media screen and (max-width: 786px) {
  .nav_list {
    position: fixed;
    top: 11vh;
    right: -100%;
    width: 200px;
    height: 240px;
    flex-direction: column;
    align-items: center;
    background: yellowgreen;
    padding-top: 15px;
    z-index: 9;
    transition: 0.8s linear;
  }
  .social_media_i {
    display: flex;
    align-items: center;
    margin-top: -15px;
    gap: 10px;
  }
  .social_media_icons {
    display: none;
  }
  .burger_menu {
    display: block;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
  }
  #checkbox:checked ~ .nav_list {
    right: 0;
  }

  .head_slogan {
    font-size: 5.4rem;
    letter-spacing: 0.4em;
  }

  /* footer */
  .aboutUs_information {
    flex-direction: column;
  }
  .aboutUs {
    max-width: 100%;
  }
  .flex_wrap {
    margin: 0 auto;
  }
  .aboutUs h4,
  .information h4,
  .follow_us h4 {
    font-size: 1.6rem;
  }
  .aboutUs p,
  .information p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 510px) {
  .contact_left {
    width: 100%;
    grid-template-columns: auto;
  }
  .contact_container h1 {
    font-size: 2.6rem;
    margin-bottom: 40px;
  }
  .contact_box h2 {
    font-size: 2rem;
  }
  .contact_form h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
  .head_slogan {
    text-align: center;
  }
}

@media screen and (max-width: 460px) {
  /* footer */
  .flex_wrap {
    flex-direction: column;
  }
  .information {
    width: 280px;
  }
  .information div {
    margin-top: 20px;
  }
  .follow_us h4 {
    display: none;
  }
  .aboutUs h4,
  .information h4 {
    margin-bottom: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .login_register_container {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }
  .login_box button,
  .register_box button {
    font-size: 1.4rem;
    margin: 20px 0 20px;
  }
  .login_header,
  .register_header {
    font-size: 2.2rem;
  }
  .go_to_register {
    flex-direction: column;
    font-size: 1.4rem;
  }
  .go_to_login .link_text {
    font-size: 1.4rem;
  }
}